@charset "UTF-8";
body {
  margin: 0;
  background: #0f0f0f;
  font-family: 'Bebas Neue', cursive;
  overflow-x: hidden;
}

.design-pic {
  position: absolute;
  left: 40px;
  top: 0;
}

.coding-background {
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: .02;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-container {
  position: absolute;
  display: inline;
  top: 45px;
  left: 45px;
}

.logo-container p {
  position: relative;
  display: inline;
  font-size: 50px;
  color: #62FFAA;
  margin-left: 10px;
}

.logo-container p::after {
  content: 'A.K.A Kacper Bąk';
  position: absolute;
  font-size: 25px;
  width: 200px;
  bottom: -20px;
  left: 10ch;
}

.language-options {
  display: inline;
  position: absolute;
  right: 75px;
  top: 55px;
  color: #3ac078;
}

.language-options p {
  display: inline;
  font-size: 24px;
  cursor: auto;
}

.language-options .language-option {
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.language-options .language-option-clicked {
  cursor: pointer;
  color: #62FFAA;
  -webkit-transition: .3s;
  transition: .3s;
}

.main {
  margin-top: 15vh;
}

@-webkit-keyframes AnimHi {
  0% {
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@keyframes AnimHi {
  0% {
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@-webkit-keyframes AnimIm {
  0% {
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  50% {
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@keyframes AnimIm {
  0% {
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  50% {
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@-webkit-keyframes AnimKacper {
  0% {
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  75% {
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@keyframes AnimKacper {
  0% {
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  75% {
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@-webkit-keyframes AnimWebDeveloper {
  0% {
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  75% {
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@keyframes AnimWebDeveloper {
  0% {
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  75% {
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

.text-container {
  width: 100%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.text-container h2 {
  font-size: 92px;
  margin-bottom: -90px;
  text-align: center;
}

.text-container-hi {
  color: #62FFAA;
  -webkit-animation: AnimHi .5s ease-in-out;
          animation: AnimHi .5s ease-in-out;
}

.text-container-im {
  color: #62FFAA;
  -webkit-animation: AnimIm 1s ease-in-out;
          animation: AnimIm 1s ease-in-out;
}

.text-container-kacper {
  color: #62FFAA;
  -webkit-animation: AnimKacper 1.5s ease-in-out;
          animation: AnimKacper 1.5s ease-in-out;
}

.text-container-web {
  color: #62FFAA;
  -webkit-animation: AnimKacper 2s ease-in-out;
          animation: AnimKacper 2s ease-in-out;
}

.wave-text-wrapper {
  width: 100%;
  padding: 10px;
  -webkit-animation: AnimKacper 2s ease-in-out;
          animation: AnimKacper 2s ease-in-out;
}

.wave-text-container {
  position: relative;
}

.wave-text-container h2 {
  position: absolute;
  color: #62FFAA;
  font-size: 92px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.wave-text-container h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #62FFAA;
}

.wave-text-container h2:nth-child(2) {
  color: #62FFAA;
  -webkit-animation: animate 4s ease-in-out infinite;
          animation: animate 4s ease-in-out infinite;
}

@-webkit-keyframes animate {
  0%, 100% {
    -webkit-clip-path: polygon(0 45%, 17% 40%, 36% 41%, 48% 46%, 60% 53%, 74% 54%, 86% 52%, 100% 45%, 100% 100%, 1% 99%);
            clip-path: polygon(0 45%, 17% 40%, 36% 41%, 48% 46%, 60% 53%, 74% 54%, 86% 52%, 100% 45%, 100% 100%, 1% 99%);
  }
  50% {
    -webkit-clip-path: polygon(0 54%, 16% 66%, 33% 69%, 51% 66%, 65% 58%, 74% 51%, 86% 47%, 100% 45%, 100% 100%, 1% 99%);
            clip-path: polygon(0 54%, 16% 66%, 33% 69%, 51% 66%, 65% 58%, 74% 51%, 86% 47%, 100% 45%, 100% 100%, 1% 99%);
  }
}

@keyframes animate {
  0%, 100% {
    -webkit-clip-path: polygon(0 45%, 17% 40%, 36% 41%, 48% 46%, 60% 53%, 74% 54%, 86% 52%, 100% 45%, 100% 100%, 1% 99%);
            clip-path: polygon(0 45%, 17% 40%, 36% 41%, 48% 46%, 60% 53%, 74% 54%, 86% 52%, 100% 45%, 100% 100%, 1% 99%);
  }
  50% {
    -webkit-clip-path: polygon(0 54%, 16% 66%, 33% 69%, 51% 66%, 65% 58%, 74% 51%, 86% 47%, 100% 45%, 100% 100%, 1% 99%);
            clip-path: polygon(0 54%, 16% 66%, 33% 69%, 51% 66%, 65% 58%, 74% 51%, 86% 47%, 100% 45%, 100% 100%, 1% 99%);
  }
}

@-webkit-keyframes AnimNav {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes AnimNav {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav {
  width: 100%;
  text-align: center;
  margin-top: 200px;
  margin-left: 60px;
  -webkit-animation: AnimNav 2.5s ease-in-out;
          animation: AnimNav 2.5s ease-in-out;
}

.nav a {
  font-size: 35px;
  margin-right: 50px;
  cursor: pointer;
  color: #62FFAA;
  text-decoration: none;
}

.about-section {
  position: relative;
  background: #EDEDED;
  text-align: center;
  padding-top: 130px;
  padding-bottom: 10px;
}

.about-section .about-text-container {
  width: 40vw;
  margin: 0 auto;
}

.about-section .about-text-container h2 {
  font-size: 64px;
}

.about-section .about-text-container p {
  font-size: 24px;
}

.about-section .about-image-container {
  position: absolute;
  top: 70px;
  left: 10vw;
}

.about-section .about-image-container img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.wave-container {
  background: #EDEDED;
  margin-top: 100px;
  width: 100%;
  padding-bottom: 100px;
  -webkit-clip-path: polygon(0% 38%, 3% 46%, 6% 54%, 10% 60%, 15% 64%, 21% 66%, 27% 67%, 32% 67%, 37% 66%, 44% 61%, 50% 54%, 55% 47%, 62% 41%, 68% 37%, 75% 35%, 82% 35%, 89% 37%, 96% 42%, 99% 46%, 100% 52%, 100% 100%, 0% 99%);
          clip-path: polygon(0% 38%, 3% 46%, 6% 54%, 10% 60%, 15% 64%, 21% 66%, 27% 67%, 32% 67%, 37% 66%, 44% 61%, 50% 54%, 55% 47%, 62% 41%, 68% 37%, 75% 35%, 82% 35%, 89% 37%, 96% 42%, 99% 46%, 100% 52%, 100% 100%, 0% 99%);
  margin-bottom: -5px;
}

.skills-text {
  position: relative;
  color: #EDEDED;
  font-size: 64px;
  margin-bottom: 70px;
}

.skill-cards-container {
  width: 75vw;
  margin-top: -250px;
  margin-left: 11vw;
  text-align: center;
}

.skill-cards-container div {
  display: inline-block;
  vertical-align: bottom;
}

.skills-text-container {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0f0f0f;
  padding-top: 10vh;
  padding-bottom: 20vh;
}

.card-container {
  position: relative;
  width: 285px;
  height: 320px;
  background: #E7E7E7;
  border: 1px solid #DBDBDB;
  border-radius: 20px;
  margin-top: 150px;
  margin-left: 50px;
}

.card-container .card-circle {
  position: absolute;
  background: #F2F2F2;
  top: -105px;
  left: 65px;
  border-radius: 999px;
  padding: 25px;
  border: 1px solid #a0a0a0;
}

.card-container .card-circle img {
  display: block;
}

.section-skills {
  background: #EDEDED;
  padding-top: 200px;
}

.card-text {
  text-align: center;
  width: 80%;
  margin-top: 40px;
  height: 80%;
}

.wave-container-gray {
  background: #0f0f0f;
  margin-top: 50px;
  width: 100%;
  padding-bottom: 100px;
  margin-bottom: -5px;
  -webkit-clip-path: polygon(0% 38%, 3% 46%, 6% 54%, 10% 60%, 15% 64%, 21% 66%, 27% 67%, 32% 67%, 37% 66%, 44% 61%, 50% 54%, 55% 47%, 62% 41%, 68% 37%, 75% 35%, 82% 35%, 89% 37%, 96% 42%, 99% 46%, 100% 52%, 100% 100%, 0% 99%);
          clip-path: polygon(0% 38%, 3% 46%, 6% 54%, 10% 60%, 15% 64%, 21% 66%, 27% 67%, 32% 67%, 37% 66%, 44% 61%, 50% 54%, 55% 47%, 62% 41%, 68% 37%, 75% 35%, 82% 35%, 89% 37%, 96% 42%, 99% 46%, 100% 52%, 100% 100%, 0% 99%);
}

.section-projects {
  background: #EDEDED;
  padding-top: 100px;
  padding-bottom: 100px;
}

.projects-text-container {
  text-align: center;
}

.projects-text-container .projects-text {
  position: relative;
  color: #0f0f0f;
  font-size: 64px;
}

.project-container {
  text-align: center;
}

.project-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  margin-top: 50px;
}

.project-info {
  position: relative;
  width: 30vw;
  height: 359px;
  background: #141414;
  border-radius: 10px 0px 0px 10px;
}

.project-info-text {
  text-align: center;
  color: #62FFAA;
}

.project-info-text h2 {
  font-size: 42px;
}

.project-info-text p {
  width: 60%;
  font-size: 18px;
  margin-left: 20%;
}

.project-info-links {
  position: absolute;
  left: 45px;
  bottom: 30px;
}

.project-info-links a {
  margin-right: 20px;
  font-size: 18px;
  color: #62FFAA;
  border: 2px solid #62FFAA;
  border-radius: 3px;
  padding: 2px 20px;
  text-decoration: none;
  cursor: pointer;
}

.projects-link {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 100px;
}

.projects-link a {
  padding: 2px 20px;
  border: 4px solid #0f0f0f;
  font-size: 24px;
  text-decoration: none;
  color: #0f0f0f;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.projects-link a:hover {
  background: #0f0f0f;
  color: #62FFAA;
}

.contact-section {
  text-align: center;
  padding-bottom: 200px;
}

.contact-section h2 {
  position: relative;
  font-size: 64px;
  color: #62FFAA;
  margin-top: 100px;
}

.half-inputs {
  margin-top: 100px;
}

.half-inputs input {
  width: 330px;
  height: 20px;
  margin-right: 19px;
  margin-left: 19px;
  background: #2c2c2c;
  border: none;
  border-bottom: 1px solid #62FFAA;
  color: #62FFAA;
}

.half-inputs input:focus {
  outline: none;
}

.half-inputs .name-input {
  display: inline;
  position: relative;
}

.half-inputs .name-input::before {
  content: 'Name';
  position: absolute;
  bottom: -25px;
  left: 20px;
  color: #62FFAA;
}

.half-inputs .email-input {
  display: inline;
  position: relative;
}

.half-inputs .email-input::before {
  content: 'Email';
  position: absolute;
  bottom: -25px;
  left: 20px;
  color: #62FFAA;
}

.contact-subject {
  position: relative;
}

.contact-subject input {
  width: 700px;
  height: 20px;
  background: #2c2c2c;
  border: none;
  border-bottom: 1px solid #62FFAA;
  color: #62FFAA;
  margin-top: 50px;
}

.contact-subject input:focus {
  outline: none;
}

.contact-subject .subject-input {
  display: inline;
  position: relative;
}

.contact-subject .subject-input::before {
  content: 'Subject';
  position: absolute;
  bottom: -25px;
  left: 0px;
  color: #62FFAA;
}

.contact-textarea textarea {
  height: 100px;
  width: 700px;
  margin-top: 50px;
  background: #2c2c2c;
  border: none;
  border-bottom: 1px solid #62FFAA;
  color: #62FFAA;
  resize: none;
}

.contact-textarea textarea:focus {
  outline: none;
}

.contact-textarea .message-input {
  display: inline;
  position: relative;
}

.contact-textarea .message-input::before {
  content: 'Message';
  position: absolute;
  bottom: -25px;
  left: 0px;
  color: #62FFAA;
}

.half-inputs-polish {
  margin-top: 100px;
}

.half-inputs-polish input {
  width: 330px;
  height: 20px;
  margin-right: 19px;
  margin-left: 19px;
  background: #2c2c2c;
  border: none;
  border-bottom: 1px solid #62FFAA;
  color: #62FFAA;
}

.half-inputs-polish input:focus {
  outline: none;
}

.half-inputs-polish .name-input-polish {
  display: inline;
  position: relative;
}

.half-inputs-polish .name-input-polish::before {
  content: 'Imie';
  position: absolute;
  bottom: -25px;
  left: 20px;
  color: #62FFAA;
}

.half-inputs-polish .email-input-polish {
  display: inline;
  position: relative;
}

.half-inputs-polish .email-input-polish::before {
  content: 'Email';
  position: absolute;
  bottom: -25px;
  left: 20px;
  color: #62FFAA;
}

.contact-subject-polish {
  position: relative;
}

.contact-subject-polish input {
  width: 700px;
  height: 20px;
  background: #2c2c2c;
  border: none;
  border-bottom: 1px solid #62FFAA;
  color: #62FFAA;
  margin-top: 50px;
}

.contact-subject-polish input:focus {
  outline: none;
}

.contact-subject-polish .subject-input-polish {
  display: inline;
  position: relative;
}

.contact-subject-polish .subject-input-polish::before {
  content: 'Temat';
  position: absolute;
  bottom: -25px;
  left: 0px;
  color: #62FFAA;
}

.contact-textarea-polish textarea {
  height: 100px;
  width: 700px;
  margin-top: 50px;
  background: #2c2c2c;
  border: none;
  border-bottom: 1px solid #62FFAA;
  color: #62FFAA;
  resize: none;
}

.contact-textarea-polish textarea:focus {
  outline: none;
}

.contact-textarea-polish .message-input-polish {
  display: inline;
  position: relative;
}

.contact-textarea-polish .message-input-polish::before {
  content: 'Wiadomość';
  position: absolute;
  bottom: -25px;
  left: 0px;
  color: #62FFAA;
}

.btn-wrapper {
  display: inline;
}

.btn-wrapper .send-button {
  margin-left: 580px;
  margin-top: 20px;
  background: #62FFAA;
  border: none;
  color: #0f0f0f;
  padding: 5px 20px;
  font-family: 'Bebas Neue', cursive;
  font-size: 18px;
  cursor: pointer;
}

.btn-wrapper .send-button-polish {
  margin-left: 555px;
  margin-top: 20px;
  background: #62FFAA;
  border: none;
  color: #0f0f0f;
  padding: 5px 20px;
  font-family: 'Bebas Neue', cursive;
  font-size: 18px;
  cursor: pointer;
}

.footer-container {
  text-align: center;
  padding: 2px 0px;
  background: black;
}

.footer-container p {
  color: #62FFAA;
}

.mywork-main-text {
  text-align: center;
  color: #62FFAA;
  margin-top: 200px;
}

.mywork-main-text h2 {
  font-size: 48px;
}

.mywork-main-text p {
  font-size: 24px;
  margin-top: -40px;
  margin-bottom: 40px;
}

.mywork-wrapper {
  width: 80vw;
  display: inline-block;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-bottom: 10vw;
}

.container-mywork {
  width: 40%;
  vertical-align: middle;
  display: inline-block;
}

.container-mywork .mywork-container-text {
  width: 100%;
}

.container-mywork .mywork-container-text h2 {
  position: relative;
  color: #62FFAA;
  font-size: 3vw;
}

.container-mywork .mywork-container-text h2::after {
  content: '';
  position: absolute;
  background: #62FFAA;
  height: 3px;
  width: 100%;
  bottom: 0;
  left: -5px;
}

.container-mywork .mywork-container-text p {
  color: #62FFAA;
  font-size: 2vw;
}

.container-mywork .mywork-container-tags {
  width: 80%;
  display: inline-block;
  color: #EDEDED;
}

.container-mywork .mywork-container-tags .tag {
  display: inline-block;
  background: #313131;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  padding: 0px 1.2vw;
  border-radius: 6px;
  -webkit-box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.35);
}

.container-mywork .mywork-container-tags .tag p {
  font-size: 1vw;
  line-height: 0px;
}

.container-mywork .mywork-container-button {
  margin-top: 30px;
  margin-left: 5px;
}

.container-mywork .mywork-container-button a {
  background: #62FFAA;
  color: #0f0f0f;
  border-radius: 6px;
  padding: 2px 30px;
  font-size: 1.5vw;
  cursor: pointer;
  text-decoration: none;
}

.mywork-container-image {
  display: inline-block;
  vertical-align: middle;
  margin-left: 2vw;
  -webkit-box-shadow: 7px 9px 8px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 7px 9px 8px 1px rgba(0, 0, 0, 0.25);
}

.mywork-container-image img {
  width: 40vw;
}

.mobile-mywork-wrapper {
  text-align: center;
  display: inline-block;
  margin-top: 50px;
  position: relative;
}

.mobile-mywork-wrapper .mobile-mywork-container-image {
  margin-right: 5vw;
  margin-left: 5vw;
  position: relative;
  z-index: 1;
}

.mobile-mywork-wrapper .mobile-mywork-container-image img {
  display: block;
  width: 90vw;
  border-radius: 10px;
}

.mobile-mywork-wrapper .mobile-mywork-container-image .mobile-image-wrapper {
  position: absolute;
  background: rgba(34, 34, 34, 0.795);
  opacity: 1;
  z-index: 999 !important;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  top: 0;
}

.mobile-container-mywork {
  width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.mobile-container-mywork .mobile-mywork-container-text {
  width: 65%;
  margin: 0 auto;
}

.mobile-container-mywork .mobile-mywork-container-text h2 {
  position: relative;
  color: #62FFAA;
  font-size: 4.5vw;
  margin-top: 5px;
}

.mobile-container-mywork .mobile-mywork-container-text h2::after {
  content: '';
  position: absolute;
  background: #62FFAA;
  height: 2px;
  width: 100%;
  bottom: 0;
  left: -5px;
}

.mobile-container-mywork .mobile-mywork-container-text p {
  margin-top: -8px;
  margin-bottom: 2px;
  color: #62FFAA;
  font-size: 3vw;
}

.mobile-container-mywork .mobile-mywork-container-tags {
  width: 100%;
  display: inline-block;
  color: #EDEDED;
}

.mobile-container-mywork .mobile-mywork-container-tags .mobile-tag {
  display: inline-block;
  background: #313131;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px 2vw;
  border-radius: 6px;
}

.mobile-container-mywork .mobile-mywork-container-tags .mobile-tag p {
  font-size: 2.5vw;
  line-height: 0px;
}

.mobile-container-mywork .mobile-mywork-container-button {
  margin-top: 2vw;
  margin-left: 5px;
}

.mobile-container-mywork .mobile-mywork-container-button a {
  background: #62FFAA;
  color: #0f0f0f;
  border-radius: 6px;
  padding: 2px 30px;
  font-size: 2.5vw;
  text-decoration: none;
  cursor: pointer;
}

@-webkit-keyframes emailSuccesAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes emailSuccesAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.email-succeeded-container {
  text-align: center;
  -webkit-animation: emailSuccesAnim .5s ease-in-out;
          animation: emailSuccesAnim .5s ease-in-out;
}

.email-succeeded-container .email-succeeded {
  margin-left: auto;
  margin-right: auto;
  color: #62FFAA;
  width: 250px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #2c2c2c;
}

@media only screen and (max-width: 1000px) {
  .logo-container {
    position: absolute;
    display: inline;
    top: 25px;
    left: 25px;
  }
  .logo-container p {
    position: relative;
    display: inline;
    font-size: 32px;
    color: #62FFAA;
    margin-left: 10px;
  }
  .logo-container p::after {
    content: 'A.K.A Kacper Bąk';
    position: absolute;
    font-size: 15px;
    width: 200px;
    bottom: -12px;
    left: 10ch;
  }
  .logo-container img {
    width: 15%;
  }
  .language-options {
    display: inline;
    position: absolute;
    right: 25px;
    top: 55px;
    color: #3ac078;
  }
  .language-options p {
    display: inline;
    font-size: 18px;
    cursor: auto;
  }
  .language-options .language-option {
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .language-options .language-option-clicked {
    cursor: pointer;
    color: #62FFAA;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .main {
    margin-top: 15vh;
  }
  .text-container {
    width: 100%;
  }
  .text-container h2 {
    color: #62FFAA;
    font-size: 64px;
    margin-bottom: -75px;
    text-align: center;
  }
  .wave-text-container {
    position: relative;
  }
  .wave-text-container h2 {
    position: absolute;
    color: #62FFAA;
    font-size: 64px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
  .wave-text-container h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #62FFAA;
  }
  .wave-text-container h2:nth-child(2) {
    color: #62FFAA;
    -webkit-animation: animate 4s ease-in-out infinite;
            animation: animate 4s ease-in-out infinite;
  }
  .nav {
    width: 100%;
    text-align: center;
    margin-top: 120px;
    margin-left: 50px;
  }
  .nav a {
    font-size: 24px;
    margin-right: 40px;
    cursor: pointer;
    color: #62FFAA;
  }
  .about-section {
    position: relative;
    background: #EDEDED;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 130px;
    padding-bottom: 10px;
  }
  .about-section .about-text-container {
    width: 80vw;
    margin: 0 auto;
  }
  .about-section .about-text-container h2 {
    font-size: 64px;
  }
  .about-section .about-text-container p {
    font-size: 24px;
  }
  .about-section .about-image-container {
    position: absolute;
  }
  .about-section .about-image-container img {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    visibility: hidden;
  }
  .skills-text {
    position: relative;
    color: #EDEDED;
    font-size: 64px;
    margin-bottom: 70px;
  }
  .skill-cards-container {
    display: inline-block;
    width: 100vw;
    margin-top: -220px;
    margin-left: -7vw;
    text-align: center;
  }
  .skill-cards-container div {
    display: inline-block;
  }
  .project-container {
    text-align: center;
  }
  .project-wrapper {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    text-align: center;
    margin-top: 50px;
  }
  .project-info {
    position: relative;
    width: 60vw;
    height: 340px;
    background: #141414;
    border-radius: 10px 10px 10px 10px;
  }
  .project-info-text {
    text-align: center;
    color: #62FFAA;
  }
  .project-info-text h2 {
    font-size: 32px;
  }
  .project-info-text p {
    width: 80%;
    font-size: 18px;
    margin-left: 10%;
  }
  .project-info-links {
    position: absolute;
    left: 45px;
    bottom: 30px;
  }
  .project-info-links a {
    margin-right: 20px;
    font-size: 18px;
    color: #62FFAA;
    border: 2px solid #62FFAA;
    border-radius: 3px;
    padding: 2px 20px;
    cursor: pointer;
    z-index: 99 !important;
  }
  .projects-link {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 100px;
  }
  .projects-link a {
    padding: 2px 20px;
    border: 4px solid #0f0f0f;
    font-size: 24px;
    color: #0f0f0f;
    text-decoration: none;
    cursor: pointer;
  }
  .project-img {
    position: absolute;
    z-index: -1;
  }
  .project-img img {
    visibility: hidden;
  }
  .half-inputs {
    margin-top: 50px;
  }
  .half-inputs input {
    width: 90vw;
    height: 20px;
    margin-top: 50px;
  }
  .half-inputs .email-input {
    display: inline-block;
    position: relative;
  }
  .half-inputs .email-input::before {
    bottom: -25px;
    left: 19px;
  }
  .contact-subject {
    position: relative;
  }
  .contact-subject input {
    width: 90vw;
    margin-left: 19px;
    margin-right: 19px;
  }
  .contact-subject .subject-input::before {
    left: 19px;
  }
  .contact-textarea textarea {
    width: 90vw;
    margin-left: 19px;
    margin-right: 19px;
  }
  .contact-textarea .message-input::before {
    left: 19px;
  }
  .btn-wrapper {
    display: inline;
  }
  .btn-wrapper .send-button {
    margin-left: 68vw;
    margin-top: 50px;
    background: #62FFAA;
    border: none;
    color: #0f0f0f;
    padding: 5px 20px;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    cursor: pointer;
  }
  .half-inputs-polish {
    margin-top: 50px;
  }
  .half-inputs-polish input {
    width: 90vw;
    height: 20px;
    margin-top: 50px;
  }
  .half-inputs-polish .email-input-polish {
    display: inline-block;
    position: relative;
  }
  .half-inputs-polish .email-input-polish::before {
    bottom: -25px;
    left: 19px;
  }
  .contact-subject-polish {
    position: relative;
  }
  .contact-subject-polish input {
    width: 90vw;
    margin-left: 19px;
    margin-right: 19px;
  }
  .contact-subject-polish .subject-input-polish::before {
    left: 19px;
  }
  .contact-textarea-polish textarea {
    width: 90vw;
    margin-left: 19px;
    margin-right: 19px;
  }
  .contact-textarea-polish .message-input-polish::before {
    left: 19px;
  }
  .btn-wrapper {
    display: inline;
  }
  .btn-wrapper .send-button-polish {
    margin-left: 68vw;
    margin-top: 50px;
    background: #62FFAA;
    border: none;
    color: #0f0f0f;
    padding: 5px 20px;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    cursor: pointer;
  }
}
/*# sourceMappingURL=App.css.map */